<div style="top:0;z-index: 21000;position:fixed;" id='admob_ad'></div>
<div style="height:48px;width=320px;" id='admob_ad_spacer'></div>
<center>
	<div id="shoutsb2">
		<div id="shoutsb">
	    	<div id="shouts"><font color="#adadac">Getting last message...<br><br><small><small><small>If this message does not disappear please check your internet connection.</small></small></small></font></div>
			<div id="lastshouts">
				<div id="lastshouts1a"><div id="lastshouts1">last shout 1</div></div>
				<div id="lastshouts2a"><div id="lastshouts2">last shout 2</div></div>
				<div id="lastshouts3a"><div id="lastshouts3">last shout 3</div></div>
				<div id="lastshouts4a"><div id="lastshouts4">last shout 4</div></div>
			</div>
			<br><br><br>
		</div>
	</div>
</center>

<div id="bottombg"></div>

<center>
	<div id="listeners"></div>
</center>

<div id="locale"></div>

<div id="star"></div>
<div id="star2"></div>

<div id="block"></div>
<div id="friend"></div>

<center>
	<div id="shoutsbL">
		<div id="shoutsbL2" align="center">
			<div style="height:40px" id='admob_ad_spacerL'></div>
    		<div id="shoutsL"><font color="#555555">Getting last message...<br><br><small><small><small>If this message does not disappear please check your internet connection.</small></small></small></font></div>
		</div>
	</div>
</center>

<div id="listenersL"></div>

<div id="localeL"></div>

<div id="blocksend"><center><small><br></small></center></div>

<div id="footer">
    <div class="palm-list">
        <div id="messageContainer" class='palm-row'>
            <div class="palm-row-wrapper textfield-group focused">
                <div class="title">
                    <div id="ActionButton" class="icon right empty">
                        <div id="SendButton" class="stuck sendButton" x-mojo-tap-highlight="immediate">
                        </div>
                    </div>
                    <div id="shoutmessage" x-mojo-element="TextField" class="messageTextWidget">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
