<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>Prefix (in front of each shout):</div>
		<div class="palm-list">
	  		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
			   			<div id="shoutprefix" name="textField"  x-mojo-element="TextField"></div>
					</div>
				</div>
     			<div class="palm-row last">
					<div class="palm-row-wrapper">
						<div  x-mojo-tap-highlight="momentary" id='saveshoutprefix' class='palm-button'>Save Prefix</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>Shoutbox settings</div>
		<div class="palm-list">
	  		<div class="palm-row single">
	     			<div class="palm-row first" x-mojo-tap-highlight="momentary">
						<div class="palm-row-wrapper">
							<div id="refreshselector" x-mojo-element="ListSelector"></div>   
						</div>
					</div>
	     			<div class="palm-row">
						<div class="palm-row-wrapper">
							<table class="palm-list-section-label">
								<tr>
									<td>
										<span x-mojo-loc="">&nbsp;&nbsp;&nbsp;Color Shouts:</span>		
									</td>
									<td>
										<div id="colorshoutstoggle" x-mojo-element="ToggleButton" class="toggle-text"></div>
									</td>	
								</tr>
							</table>
						</div>
					</div>
	     			<div class="palm-row">
						<div class="palm-row-wrapper">
							<table class="palm-list-section-label">
								<tr>
									<td>
										<span x-mojo-loc="">&nbsp;&nbsp;&nbsp;Show Listeners:</span>		
									</td>
									<td>
										<div id="showlistenerstoggle" x-mojo-element="ToggleButton" class="toggle-text"></div>
									</td>	
								</tr>
							</table>
						</div>
					</div>
	     			<div class="palm-row">
						<div class="palm-row-wrapper">
							<table class="palm-list-section-label">
								<tr>
									<td>
										<span x-mojo-loc="">&nbsp;&nbsp;&nbsp;Show Flag:</span>		
									</td>
									<td>
										<div id="showflagtoggle" x-mojo-element="ToggleButton" class="toggle-text"></div>
									</td>	
								</tr>
							</table>
						</div>
					</div>
	     			<div class="palm-row">
						<div class="palm-row-wrapper">
							<table class="palm-list-section-label">
								<tr>
									<td>
										<span x-mojo-loc="">&nbsp;&nbsp;&nbsp;Show Last Shouts:</span>		
									</td>
									<td>
										<div id="showlastshoutstoggle" x-mojo-element="ToggleButton" class="toggle-text"></div>
									</td>	
								</tr>
							</table>
						</div>
					</div>
	     			<div class="palm-row">
						<div class="palm-row-wrapper">
							<table class="palm-list-section-label">
								<tr>
									<td>
										<span x-mojo-loc="">&nbsp;&nbsp;&nbsp;Show Shout hint:</span>		
									</td>
									<td>
										<div id="showshouthinttoggle" x-mojo-element="ToggleButton" class="toggle-text"></div>
									</td>	
								</tr>
							</table>
						</div>
					</div>
	     			<div class="palm-row">
						<div class="palm-row-wrapper">
							<table class="palm-list-section-label">
								<tr>
									<td>
										<span x-mojo-loc="">&nbsp;&nbsp;&nbsp;Disable Landscape:</span>		
									</td>
									<td>
										<div id="disablelandscapetoggle" x-mojo-element="ToggleButton" class="toggle-text"></div>
									</td>	
								</tr>
							</table>
						</div>
					</div>
	     			<div class="palm-row last">
						<div class="palm-row-wrapper">
							<table class="palm-list-section-label">
								<tr>
									<td>
										<span x-mojo-loc="">&nbsp;&nbsp;&nbsp;Enter to send:</span>		
									</td>
									<td>
										<div id="entertosendtoggle" x-mojo-element="ToggleButton" class="toggle-text"></div>
									</td>	
								</tr>
							</table>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>Friends:</div>
		<div class="palm-list">
	  		<div class="palm-row single">
					<div class="palm-row-wrapper">
						<div id="friendusers" style="padding:5px;padding-left:15px"></div>
					</div>
     			<div class="palm-row last">
					<div class="palm-row-wrapper">
						<div  x-mojo-tap-highlight="momentary" id='clearfriendusers' class='palm-button'>Clear Friends</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>Blocked users:</div>
		<div class="palm-list">
	  		<div class="palm-row single">
					<div class="palm-row-wrapper">
						<div id="blockedusers" style="padding:5px;padding-left:15px"></div>
					</div>
     			<div class="palm-row last">
					<div class="palm-row-wrapper">
						<div  x-mojo-tap-highlight="momentary" id='clearblockedusers' class='palm-button'>Clear Blocked Users</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>Color settings</div>
		<div class="palm-list">
	  		<div class="palm-row single">
	     		<div class="palm-row first" x-mojo-tap-highlight="momentary">
					<div class="palm-row-wrapper">
						<div id="fgcolorselector" x-mojo-element="ListSelector"></div>   
					</div>
				</div>
	     		<div class="palm-row" x-mojo-tap-highlight="momentary">
					<div class="palm-row-wrapper">
						<div id="bgcolorselector" x-mojo-element="ListSelector"></div>   
					</div>
				</div>
	     		<div class="palm-row first" x-mojo-tap-highlight="momentary">
					<div class="palm-row-wrapper">
						<div id="friendcolorselector" x-mojo-element="ListSelector"></div>   
					</div>
				</div>
	     		<div class="palm-row" x-mojo-tap-highlight="momentary">
					<div class="palm-row-wrapper">
						<div id="fg2colorselector" x-mojo-element="ListSelector"></div>   
					</div>
				</div>
	     		<div class="palm-row" x-mojo-tap-highlight="momentary">
					<div class="palm-row-wrapper">
						<div id="bg2colorselector" x-mojo-element="ListSelector"></div>   
					</div>
				</div>
     			<div class="palm-row last">
					<div class="palm-row-wrapper">
						<div  x-mojo-tap-highlight="momentary" id='resetcolors' class='palm-button'>Reset Colors</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>