<div id="main">
    <div class="palm-page-header multi-line">
        <div id="main-header" class="palm-page-header-wrapper" style="height: 50px;line-height: 50px;;font-weight: bold;text-align:center;">
             Global Shoutbox
        </div>
    </div>
    <div id="main-body" class="itemFull">
		<center>
			<h1>Global Shoutbox 1.0.8 Beta</h1>
			A program written by<br>Sebastian Hammerl<br><br>
			Contact:<br><a href="mailto:shoutbox@omoco.de">shoutbox@omoco.de</a><br><a href="http://shoutbox.omoco.de">http://shoutbox.omoco.de</a><br><br>
			Please let me know any error or enhancement. 
		</center>
	</div>
</div>