<div id="main">
    <div id="main-body" class="itemFull">
    	<center><h2>Help</h2></center>
		
		<div class="palm-group">
			<div class="palm-group-title" x-mojo-loc=''>What does this app do?</div>
			<div class="palm-list">
		   		<div class="palm-row single">
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
		      			<small>
							With this app you can shout a message to the whole world and listen to messages other people shout. The message is updated automatically so you can just put your phone on the desk and watch what people are shouting. If you turn the phone to landscape you will get a better view.
		      			</small>
					</div>
				</div>
			</div>
		</div>
		<div class="palm-group">
			<div class="palm-group-title" x-mojo-loc=''>Main Screen Overview</div>
			<div class="palm-list">
		   		<div class="palm-row single" style="padding-top:7px;padding-bottom:5px">
					<center>
						<img width=97% height=97% src="images/tutorial.jpg">
					</center>
				</div>
			</div>
		</div>
		<div class="palm-group">
			<div class="palm-group-title" x-mojo-loc=''>Frequently asked questions</div>
			<div class="palm-list">
		   		<div class="palm-row single">
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
		      			<small>
							<b>Q:</b> It seems that I am missing some messages.<br>
							<b>A:</b> You only see the last message posted. Between updates there can be more messages you might have missed. You can lower the refresh interval in the preferences.<br><br>
							<b>Q:</b> Why is there a shout limit of one minute per shout?<br>
							<b>A:</b> It is a shout app not a chat app. If you want to chat this is the wrong application for you. Just shout out your message!<br><br>
							<b>Q:</b> How do I block an user?<br>
							<b>A:</b> Just click on the icon at the bottom left. You will be asked to verify the color you want to block. You can clear the block list at the preferences.<br><br>
							<b>Q:</b> What is a prefix?<br>
							<b>A:</b> The prefix is added to every shout you do. You can use this to add your nickname or something else which should always be with your shouts.<br><br>
							<b>Q:</b> Do I have my color for ever?<br>
							<b>A:</b> Yes. You only get a new color when you reinstall the app.
		      			</small>
					</div>
				</div>
			</div>
		</div>
		<div class="palm-group">
			<div class="palm-group-title" x-mojo-loc=''>Donations</div>
			<div class="palm-list">
		   		<div class="palm-row single">
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
		      			<small>
							<center>
								If you like this app please donate.<br><br>
								<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=TEUPLVZ5UBWNQ"><img width="138" height="39" src="images/btn_donate_LG.gif"></a>
							</center>
		      			</small>
					</div>
				</div>
			</div>
		</div>
		
		<button id='close' class='palm-button'>Close</button>
		<br><br>
	</div>
</div>